<aside class="aside">

    <ul class="aside-nav">
      <li><a href="aside-pizza.html" tabindex="1">Пицца</a></li>
      <li><a href="aside-rolls.html" tabindex="2">Роллы</a></li>
      <li><a href="aside-cold-snacks.html" tabindex="3">Холодные закуски</a></li>
      <li><a href="aside-salads.html" tabindex="4">Салаты</a></li>
      <li><a href="aside-hot-snacks.html" tabindex="5">Горячие закуски</a></li>
      <li><a href="aside-soups.html" tabindex="6">Супы</a></li>
      <li><a href="aside-hot-dishes.html" tabindex="7">Горячие блюда</a></li>
      <li><a href="aside-fish-dishes.html" tabindex="8">Блюда из рыбы</a></li>
      <li><a href="aside-paste.html" tabindex="9">Паста</a></li>
      <li><a href="aside-garnish.html" tabindex="10">Гарниры</a></li>
      <li><a href="aside-desert.html" tabindex="11">Десерты</a></li>
      <li><a href="aside-drink.html" tabindex="12">Напитки</a></li>
    </ul>
    <div class="aside-banner">
      <a class="banner" href="#"><img src="img/aside/banner.jpg" alt="banner"></a>
      <a class="banner" href="#"><img src="img/aside/banner.jpg" alt="banner"></a>
    </div>
</aside>