      <div class="footer-bg clearfix">
        <footer class="footer content-wr container-fluid">
          <div class="footer-wr">
            <div class="footer-ul-wr">
              <ul class="about-restaurant">
                <p>О ресторане</p>
                <li><a href="about.html">О ресторане</a></li>
                <li><a href="comments.html">Отзывы</a></li>
              </ul>
              <ul class="support">
                <p>Поддержка</p>                
                <li><a href="contacts.html">Контакты</a></li>
                <li><a href="job.html">Вакансии</a></li>
                <li><a href="faq.html">Вопросы и ответы</a></li>
              </ul>
              <ul class="interesting">
                <p>Интересное</p>
                <li><a href="promo.html">Акции</a></li>
              </ul>
              <ul class="footer-pay-method">
                <p>Формы оплаты</p>
                <li><a href="#">Яндекс деньги</a></li>
                <li><a href="#">Webmoney</a></li>
                <li><a href="#">Сбербанк онлайн</a></li>
                <li><a href="#">Карты Visa</a></li>
                <li><a href="#">Карты Maestro</a></li>
                <li><a href="#">Карты MasterCard</a></li>
              </ul>              
            </div>               
                <div class="contacts">
                  <a class="contacts-tel" href="tel:+73433565956"><i class="fa fa-phone"></i>+7 (343) 356-59-56</a>
                  <a class="contacts-address" href="#"><i class="fa fa-map-marker"></i>Краснолесья, 49</a>
                  <a class="mail" href="mailto:info@studio49.ru"><i class="fa fa-envelope"></i>info@studio49.ru</a>
                  <div class="social-networks">
                    <a href="#"><img src="img/footer/youtube-square.png" alt="youtube.com"></a>
                    <a href="#"><img src="img/footer/classmates-square.png" alt="#"></a>
                    <a href="#"><img src="img/footer/vk-square.png" alt="vk.com"></a>
                    <a href="#"><img src="img/footer/instagram-square.png" alt="#"></a>
                    <a href="#"><img src="img/footer/facebook-square.png" alt="facebook.com"></a>
                  </div>
                </div>
                <address class="address">ООО "Studio49", г. Екатеринбург, Краснолесья 49</address>
                <p class="copyright">Все права защищены, 2015 год</p>                        
          </div>
        </footer>        
      </div>