<header class="header">
              <div class="info">
                <div class="tel-wr">
                  <a class="tel" href="tel:+3432365689">+7 (343) 236-56-89</a>
                  <a class="callback" href="contacts.html">Заказать обратный звонок</a>            
                </div>
                <div class="work-wr">
                  <p class="work-time">пн.-сб. с 9.00 до 24.00</p>
                  <p class="work-time">сб.-вс. с 9.00 до 01.00</p>               
                </div>
              </div>
              <a class="header-logo" href="index.html">доставка вкусной еды</a>
              <div class="header-form-wr">
                <form class="basket" id="basket" action="/">
                  <div class="basket-popup">
                    <div class="items-in-basket">
                      <div class="header-basket-item">
                        <a href="#" class="basket-remove-item"></a>
                        <div class="basket-item-preview">
                          <img src="img/header/basket-preview-1.jpg" alt="">
                        </div>
                        <div class="basket-item-descr">
                          <p class="basket-item-name">Первое блюдо</p>
                          <p class="basket-item-price">563 руб.</p>
                          <label class="basket-item-label" for="basket-number-quantity" id="basket-number-quantity" type="text">Кол-во:</label>
                          <input class="basket-item-quantity" id="basket-number-quantity" type="text" name="basket-number-quantity" placeholder="">
                        </div>
                      </div>
                      <div class="header-basket-item">
                        <a href="#" class="basket-remove-item"></a>
                        <div class="basket-item-preview">
                          <img src="img/header/basket-preview-2.jpg" alt="">
                        </div>
                        <div class="basket-item-descr">
                          <p class="basket-item-name">Первое блюдо и второе</p>
                          <p class="basket-item-price">563 руб.</p>
                          <label class="basket-item-label" for="basket-number-quantity" id="basket-number-quantity" type="text">Кол-во:</label>
                          <input class="basket-item-quantity" id="basket-number-quantity" type="text" name="basket-number-quantity" placeholder="">
                        </div>
                      </div>                      
                   </div>                      
                      <p class="header-total-price"><span>2</span>товара на сумму<span>500 руб.</span></p>
                      <a class="header-checkout" href="basket.html">Оформить заказ</a>
                      <p class="basket-caption">Бесплатная доставка осуществляется при сумме заказа от 1000 руб.</p> 
                  </div>
                  <a class="basket-logo" href="#"></a> 
                  <p class="header-basket-caption"><span>16</span>товаров на сумму<span>1256 руб.</span></p>
                  <div class="basket-order-wr">
                    <a class="basket-order" id="basket-order" href="basket.html">Оформить заказ</a>                    
                  </div>
                </form>
                <form class="search" action="/">
                  <button class="loupe" type="submit"></button>
                  <input class="search-field" type="search" name="search" placeholder="_______________" id="search-field">
                </form>
                <a class="search-toggle-wr" id="search-toggle" href="#">
                  <i class="fa fa-search"></i>
                </a>                  
                <form class="search-toggle"action="/">
                  <input class="search-field-toggle" type="search" name="search" placeholder="_________________" id="search-field">
                  <button class="search-toggle-btn" type="submit">Поиск</button>              
                </form>

                
              </div>

              <nav>
                <ul class="main-nav">
                  <li><a href="about.html">О ресторане</a></li>
                  <li><a href="faq.html">Вопросы и ответы</a></li>
                  <li><a href="promo.html">Акции</a></li>
                  <li><a href="contacts.html">Контакты</a></li>
                </ul>
              </nav>
        </header>